

@media screen and (min-width:367px) and (max-width: 472px) {
    /* Seus estilos para smartphone entram aqui */
    body{
        width: 100vw;
        height: 100vh;
        max-height: 100%;
        overflow-y: hidden;
        background: linear-gradient(to right, #FAF8F5 50% #edcac4 100%);
    }

    /* Cabecalho*/
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(to right, #FAF8F5 10%, #edcac4 100%);
    }

    header img{
        width: 5rem;
        height: 5rem;
    }
    header h1{
        color: #B2351F
    }

   


    /* copor*/

     main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 8rem 2rem;       
        
    }

    .container-principal{
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;

    }
    

    .cards button{
        width: 5rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        background-color: #edcac4;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 5px #B2351F;
        border: none;
        cursor: pointer;
        box-sizing: border-box;        
        font-size: 10px;

    }
    button img{
        height: 80%;
    }

    button p{
        height: 20%;       
        color: #B2351F;
        font-weight: bold;
    }

    .cards button:active{
        transform: scale(0.95);
    }


}